<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="36px">
  <h1>Tasks</h1>

  <button mat-flat-button class="add-task" color="primary" (click)="openAddTaskModal()">Add Task</button>

  <div class="tasks-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <app-tasks-container [title]="'New'" [tasks]="newTasks" (progressTask)="moveToInProgress($event)"></app-tasks-container>
    <app-tasks-container [title]="'In Progress'" [tasks]="inProgressTasks"  (progressTask)="moveToDone($event)"></app-tasks-container>
    <app-tasks-container [title]="'Done'" [tasks]="doneTasks" [done]="true"></app-tasks-container>
  </div>
</div>
